{% extends "base_layout.html" %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainApp/main_page.css' %}">
{% endblock stylesheet %}
{% block content %}
    <div class="main_container">
        <div class="about_container" id="about">
{#            <img src="./assets/society_img.jpg" alt="">#}
            <h1>XYZ Housing Centralia</h1>
            <div class="d-flex justify-content-end">
            <div class ="add-text ">


            <p><span class="boldTag">Address: </span>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. </p>
            <p><span class="boldTag">Society ID: </span>AXB664S5DT</p>
            <p><span class="boldTag">Established In: </span>2021</p>
            <p><span class="boldTag">Chairman: </span>Mr. Eren Yeager</p>
            <p><span class="boldTag">Secretary: </span>Mr. Levi Ackermann</p>
            </div>
            </div>
        </div>

        <h1 id="visitor">Visitors</h1>
        <div class="visitors_container">
            <div class="button_circles">
                <i class="fa-solid fa-person fa-2xl"></i>
                <p>Add Daily Help</p>
            </div>
            <div class="button_circles">
                <i class="fa-solid fa-person fa-2xl"></i>
                <p>Pre-Approve</p>
            </div>
            <div class="button_circles">
                <i class="fa-solid fa-right-to-bracket fa-2xl"></i>
                <p>Auto Approvals</p>
            </div>
            <div class="button_circles">
                <i class="fa-solid fa-arrow-right fa-2xl"></i>
                <p>View All</p>
            </div>
        </div>
    </div>
{% endblock content %}