{% extends "base_layout.html" %}

{% block content %}
    <div style="width: 100%; padding: 50px 0px; margin: 50px 0px; font-size: 20px">
        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-md-5 col-sm-15 border-bottom">
                <h3>Please Select A Category That You Wish To Make A Payment</h3>
                <br>
                <ol class="list-group list-group-numbered">
                    <a href="{% url 'portal' %}">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto" style="width: 600px">
                                <div class="fw-bold">1. Rent</div>
                                Pay Your Rent To The Owner
                            </div>
                        </li>
                    </a>
                    <a href="{% url 'portal' %}">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto" style="width: 600px">
                                <div class="fw-bold">2. Maintanence Bill</div>
                                Pay Your Maintanence Bill
                            </div>
                        </li>
                    </a>
                    <a href="{% url 'portal' %}">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto" style="width: 600px">
                                <div class="fw-bold">3. Electricity Bill</div>
                                Pay Your Electricity Bill
                            </div>
                        </li>
                    </a>
                </ol>
            </div>
        </div>
    </div>

{% endblock %}