{% extends "base_layout.html" %}

{% block content %}

    <div class="container">
        <div style="border: solid 1px black; border-radius: 10px; width: 100%; background-color: white">
            <div class="row justify-content-center mt-5 mb-5">
                <div class="col-md-5 col-sm-15 border-bottom">
                    {% for resident in profile %}
                        {{ resident.flat_no }}
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}