{% extends "base_layout.html" %}

{% block content %}

    {#    <div class="container">#}
    {#        <div style="border: solid 1px black; border-radius: 10px; width: 100%; background-color: white; padding: 50px 0px; margin: 50px 0px; font-size: 20px">#}
    {#            <div class="row justify-content-center mt-5 mb-5">#}
    {#                <div class="col-md-5 col-sm-15 border-bottom">#}
    {#                    <h1>Residents</h1>#}
    {#                    <br>#}
    {#                    {% for resident in profile %}#}
    {#                        <div class="mb-5"#}
    {#                             style="border: solid 1px black; border-radius: 10px; width: 100%; background-color: #078d9e">#}
    {#                            <div class="row justify-content-center mt-5">#}
    {#                                <div class="col-md-5 col-sm-15 border-bottom pb-2">#}
    {#                                    #}
    {#                                    <h2>{{ resident.name }}</h2>#}
    {#                                    <p><strong>Flat Number: </strong>{{ resident.flat_no }}</p>#}
    {#                                    <p style="font-size: 14px">{{ resident.bio }}</p>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    {% endfor %}#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-md-9 col-lg-7 col-xl-5">
                    <h2>Residents</h2><br>
                    {% for resident in profile %}
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-4">
                            <div class="d-flex text-black">
                                <div class="flex-shrink-0">
                                    <img src="{{ resident.picture.url }}"
                                         alt="Profile Pic" class="img-fluid"
                                         style="width: 180px; border-radius: 10px;">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <br>
                                    <h5 class="mb-1">{{ resident.name }}</h5>
                                    <p class="mb-2 pb-1" style="color: #2b2a2a;"><strong>Flat No: </strong>{{ resident.flat_no }}</p>
                                    {% if resident.bio %}
                                        <p><strong>About Me: </strong>{{ resident.bio }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}